body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0.9375rem;
}

a{
    color: #ccc;
}

a:hover{
    color: #fff;
}


#barr{
    height: 3.125rem;
    background-color: black;
    opacity: 50%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99999;
}

#logo{
    margin: 0.3125rem  1.25rem 0.3125rem  1.25rem;
    float: left;
}

#menu{
    float: left;
}


li{
    color: #ccc;
    display: inline;
    margin: 0 0.3125rem 0 0;
}

li:hover{
    color: #fff;
}

#platform{
    
    float: right;
}


.film{
    width: 10.9375rem;
    margin: 0.625rem 1.25rem 0 0;
    float: left;
    
}

.film:hover{
    opacity: 50%;
    
}

.film img {
    border-radius: 0.625rem;
}

h2{
    margin: 0.625rem;
}

h3{

    font-size: 0.875rem;
    color: #ccc;
    margin: 0;
    
}

h4{
    font-size: 0.875rem;
    color: #ccc;
    float: left;
    margin: 0;
}

h5{    
    font-size: 0.875rem;
    color: #ccc;
    float: right;
    margin: 0;
}

.documentals{
    clear: both;
   
}

#docv{
    filter: grayscale();
}

.ppendents{
    clear: both;
      
}


.pvistes{
    clear: both;
    filter: grayscale();
}

.sseguint{
    clear: both;
}

.svistes{
    clear: both;
    filter: grayscale();
}


